.header-content{
    min-height: 80vh;
    background:#27374D;
    flex-direction: column;
    
}
.header-title{
    font-size: 4.2rem;
    text-align: left;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
    
}

.n{
    position: fixed;
}